

<div class="columns">
  <div id="side">
    <ul class="nav nav-list">
      <li class="nav-header">
        Settings
      </li>
      <li class="active">
        <a href="/main_entities">Main Entity</a>
      </li>
      <li>
        <a href="/dealers">Dealer</a>
      </li>
      <li>
        <a href="/business_units">Business Unit</a>
      </li>
    </ul>
	</div>
  <div id="main">
    <%= yield %>
  </div>