
<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Dispatch Service</title>
  </head>
  <body>

    <!-- Top Menu -->
    <%= render 'layouts/header' %>
    
    <%= render 'layouts/sidemenu' %>
        
    <%= render 'main_entities' %>


  
  </body>
</html>
