
        <!-- Left Menu -->
      <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Settings</a></li>
            <li><a href="/main_entities"><i class="fa fa-asterisk fa-fw"></i>&nbsp; Main Entities</a></li>
            <li><a href="/dealers"  target="main"><i class="fa fa-cubes fa-fw"></i>&nbsp; Dealers</a></li>
            <li><a href="/business_units"  target="main"><i class="fa fa-arrows-alt fa-fw"></i>&nbsp; Business Units</a></li>
            <li><a href="/roles" target="main"><i class="fa fa-gavel fa-fw"></i>&nbsp;Roles</a></li>
            <li><a href="/users" target="main"><i class="fa fa-user fa-fw"></i>&nbsp;Users</a></li>
          </ul>
        </div>
      </div>